<!DOCTYPE html>
<html ng-app="tourmappers">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body ng-controller="main">
    {{{body}}}
  </body>
<script src="/js/angular.min.js"></script>
<script src="/js/app.js"></script>
</html>
